In [2]:
import pandas as pd

 

## 데이터 준비

data = {

    'Hero':['Jack','Michael','Jim','Mengsk'],

    'Age':[21,33,45,56]

}

df = pd.DataFrame(data)

In [3]:
df

      Hero  Age
0     Jack   21
1  Michael   33
2      Jim   45
3   Mengsk   56

In [8]:
df.columns[0]

'Hero'